@font-face {
    font-family: Lakes;
    src: url('../fonts/TTLakesNeueTrialCompressedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bruse;
    src: url('../fonts/BruceForever.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: SaboFil;
    src: url('../fonts/Sabo-Filled.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SaboR;
    src: url('../fonts/Sabo-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


